* {
    box-sizing: border-box;
}

body {
    background-color: #075a21;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}





/* Style the header here */

header {
    background-color: #3fc8a8;
    font-family: 'Amatic SC', cursive;
    text-align: center;
    padding: 20px;
    max-height: 400px;
    width: 100%;
    font-size: 4rem;
}
/* Style the top mav here*/

.topnav {
    background-color: #37455a;
    max-width: 100%;
    overflow-x: hidden;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5rem;
}
/* Style the heading font here */

h1 {
    text-align: center;
}

h1 {
    color: white;
}

h2 {
    color: white;
}

h2 {
    text-align: center;
}





/* Style the topnav links */

.topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    overflow: hidden;
    padding: 14px 16px;
}

/* Main Grid Template for pages container */
.container {
    margin: auto;
    max-width: 80%;
    display: grid;
    overflow: hidden;
    grid-template-columns: auto auto;
}

/* Map content here*/
.map-content {
    font-size: 2.5em;
    font: 15px Arial;
    color: white;
    background-color: rgb(29, 130, 53);
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;
    max-width: 100%;
}

.map {
    min-width: 50vw;
    min-height: 50vw;

}
/* Style contact us here */

.contact-us {
    margin: auto;
    padding: 1.5em;
    background-color: rgb(17, 62, 28);
    font-size: 1.5rem;
}


.aboutus {
    background-color: white;
    width: 100%;
    margin-bottom: auto;
    margin-top: auto;
    padding: 25px;
    text-align: center;
    font-size: 1.5vw;

}
/* Style the images below */

.image-inside {
    max-width: 100%;
}

.customersay {
    background-color: white;
    max-width: 100%;
    padding: 25px;
    margin-bottom: auto;
    margin-top: auto;
    font-size: 1.5vw;
}

img {
    height: auto;
    width: auto;
    max-width: 350px;
    max-height: 500px;
}

.image-food {
    max-width: 100%;
    margin: 25px;
}
/* Style the form here */

.form {
    width: 80vw;
    min-height: 1600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 2rem;
    border: none;
    font-size: 1.5em;
}

/* Style the footer here */

.footer {
    font-size: 1vw;
    background-color: #37455a;
    text-align: left;
    padding: 10px;
    overflow: hidden;
    max-height: 400px;
    width: 100%;
    padding: 60px;
}

.calendar {

    text-align: center;

}

.footer img {
    max-height: 30px;
    max-width: 30px;
    text-align: right;
    text-align: center;

}

.footer a {
    color: white;
}

.footer h6 {
    color: white;
    font-size: 1rem;
}